{% extends 'main/base.html' %}

{% block title %}Add Exercise{% endblock %}

{% block body %}
<div class="col-sm-12">
    <form role="form" action="{% url 'main:add_exercise' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter name">
        </div>
        
        <div class="form-group">
            <label for="exercise_focus">Focus <a href="{% url 'main:add_exercise_focus' %}">(Add New)</a></label>
            <select class="form-control" name="exercise_focus">
                {% for exercise_focus in exercise_focuses %}
                <option>{{exercise_focus}}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group form-check">
            <h1>Attributes</h1>
            
            <input type="checkbox" class="form-check-input" name="laps">
            <label class="form-check-label" for="laps">laps</label>
            <br>
            
            <input type="checkbox" class="form-check-input" name="miles">
            <label class="form-check-label" for="miles">miles</label>
            <br>
            
            <input type="checkbox" class="form-check-input" name="reps">
            <label class="form-check-label" for="reps">reps</label>
            <br>
            
            <input type="checkbox" class="form-check-input" name="sets">
            <label class="form-check-label" for="sets">sets</label>
            <br>
            
            <input type="checkbox" class="form-check-input" name="time">
            <label class="form-check-label" for="time">time</label>
            <br>
            
            <input type="checkbox" class="form-check-input" name="weight">
            <label class="form-check-label" for="weight">weight</label>
            <br>
    
        </div>
        
        <div class="form-group form-check">
            <h1>Routine Days</h1>
            <input type="checkbox" class="form-check-input" name="sunday">
            <label class="form-check-label" for="weight_involved">Sunday</label>
            <br>
            <input type="checkbox" class="form-check-input" name="monday">
            <label class="form-check-label" for="weight_involved">Monday</label>
            <br>
            <input type="checkbox" class="form-check-input" name="tuesday">
            <label class="form-check-label" for="weight_involved">Tuesday</label>
            <br>
            <input type="checkbox" class="form-check-input" name="wednesday">
            <label class="form-check-label" for="weight_involved">Wednesday</label>
            <br>
            <input type="checkbox" class="form-check-input" name="thursday">
            <label class="form-check-label" for="weight_involved">Thursday</label>
            <br>
            <input type="checkbox" class="form-check-input" name="friday">
            <label class="form-check-label" for="weight_involved">Friday</label>
            <br>
            <input type="checkbox" class="form-check-input" name="saturday">
            <label class="form-check-label" for="weight_involved">Saturday</label>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}