{% extends 'main/base.html' %}

{% block title %}ENTERTITLEHERE{% endblock %}

{% block body %}
<div class="col-sm-12">
    <form role="form" action="{% url 'main:add_exercise_entry' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" name="date" value="2012-12-12">
        </div>
      
        <div class="form-group">
            <label for="exercise">Exercise</label>
            <select class="form-control" name="exercise">
                {% for exercise in exercises %}
                <option>{{exercise}}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="weight">Weight</label>
            <input type="number" class="form-control" name="weight">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}