{% extends 'main/base.html' %}

{% block title %}ENTERTITLEHERE{% endblock %}

{% block body %}
<div class="col-sm-12">
    <h1>Adding entry for {{exercise}}</h1>
    <form role="form" action="{% url 'main:add_exercise_entry' pk=exercise.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" name="date" value="{{today_date}}">
        </div>
        
        {% if exercise.weight_involved %}
        <div class="form-group">
            <label for="weight">Weight</label>
            <input type="number" class="form-control" name="weight" required>
        </div>
        {% else %}
        <div class="form-group">
            <input type="hidden" class="form-control" name="weight" value=-1>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}