{% extends 'main/base.html' %}

{% block title %}ENTERTITLEHERE{% endblock %}

{% block body %}
<div class="col-sm-12">
    <h1>{{certain_exercise.name}}</h1>
    <h1>{{chart_empty}}</h1>
    
    
    
    {% if not chart_empty %}
    <div id="chart_div" style="width: 100%; height: 500px;"></div>
    <script>
        var chart_array = {{chart_data|safe}}
        var chart_title = '{{chart_title|safe}}'
    </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(chart_array);

        var options = {
          title: chart_title,
          hAxis: {title: 'Date',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    {% endif %}

</div>
{% endblock %}