{% extends 'main/base.html' %}

{% block title %}Exercise Detail{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<div class="col-sm-12">
    <h1>{{certain_exercise.name}}</h1>
</div>

{% if not chart_empty %}
<div class="col-sm-12" id="chart">
  <script>
      var chart_array = {{chart_data|safe}}
      var chart_title = '{{chart_title|safe}}'
  </script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
  
    function drawChart() {
      var data = google.visualization.arrayToDataTable(chart_array);
  
      var options = {
        title: chart_title,
        hAxis: {title: 'Date',  titleTextStyle: {color: '#333'}},
        vAxis: {minValue: 0}
      };
  
      var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
    
    $(window).resize(function(){
      drawChart();
    });
  </script>
  <div id="chart_div"></div>
</div>
{% else %}
<div class="col-sm-12">
  <h1>No data found for this exercise</h1>
</div>
{% endif %}


{% endblock %}