{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="col-sm-12">
    <h1 style="font-weight:bold;">Help</h1>
    <br>
    <h2>What exercises should I add?</h2>
    <br>
    <p>Popular examples of exercises and focuses include the following:</p>
    <ul>
        <li>Focus: Abs
            <ul>
                <li>Crunches</li>
                <li>Seated Twists</li>
            </ul>
        </li>
        <li>Focus: Back
            <ul>
                <li>One Arm Dumbbell Rows</li>
                <li>Bent Over Barbell Rows</li>
            </ul>
        </li>
        <li>Focus: Biceps
            <ul>
                <li>Standing Barbell Curl</li>
                <li>Concentration Curls</li>
            </ul>
        </li>
        <li>Focus: Chest
            <ul>
                <li>Barbell Incline Bench Presses</li>
                <li>Flat Bench Dumbbell Fly</li>
            </ul>
        </li>
        <li>Focus: Legs
            <ul>
                <li>Barbell Squats</li>
                <li>Barbell Straight Leg Deadlift</li>
            </ul>
        </li>
        <li>Focus: Shoulders
            <ul>
                <li>Seated Dumbbell Presses</li>
                <li>Seated Lateral Raises</li>
            </ul>
        </li>
        <li>Focus: Triceps
            <ul>
                <li>Seated Overhead Dumbbell Extensions</li>
                <li>Lying Cross Face Triceps Extensions</li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}