{% extends 'main/base.html' %}

{% block title %}ENTERTITLEHERE{% endblock %}

{% block body %}
<div class="col-sm-12" style="border:white solid 2px;text-align:center;">
  <h1>{{today_weekday}}</h1>
  <br>
</div>

{% for a in var %}
<div class="col-sm-6" style="border:white solid 2px;">
  <h2>{{a.0}}</h2>
  {% for b in a.1 %}
    <h2>{{b.0.name}}</h2>
    {% if not b.1 %}
        {% if b.0.weight_involved %}
        <form role="form" action="{% url 'main:today' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="weight">Weight</label>
            <input type="number" class="form-control" name="weight" placeholder="Enter weight">
            <input type="hidden" class="form-control" name="exercise_id" value={{b.0.id}}>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% else %}
        <form role="form" action="{% url 'main:today' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <input type="hidden" class="form-control" name="weight" value=-1>
            <input type="hidden" class="form-control" name="exercise_id" value={{b.0.id}}>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}
    {% else %}
    <button type="button" class="btn btn-success">Done</button>
    {% endif %}
  {% endfor %}
  <br>
</div>
{% endfor %}
    

{% endblock %}